<% provide(:title, @job.name) %>

<h1>Job: <%= @job.name %></h1>
<div class="row">
  <div class="span12">
    <div class="coolz"><%= @job.client.name %></div>
    <div class="client-line"><%= @job.client.street %></div>
    <div class="client-line"><%= @job.client.city %>, <%= @job.client.state %> <%= @job.client.zip %></div>
    <br>
    <div class="client-line"><%= @job.client.phone %></div>
    <div class="client-line"><%= @job.client.email %></div>
    <br>

    <table class="job-table span10">
      <thead>
        <tr>
          <th>Task</th>
          <th>Quantity</th>
          <th class="cost-column">Cost</th>
        </tr>
      </thead>
      <tbody id="work-item-body">
        <% @job.work_items.all.each do |item| %>

          <tr class="work-items fields">
            <td>
              <%= item.work_category.name %>
            </td>

            <td class="work-item-amount">
              <strong><%= item.work_amount %></strong>
              <small>at</small>
              <%= item.work_category.price_per_unit %>
              <small>per</small>
              <%= item.work_category.unit %>
            </td>

            <td class="work-item-cost cost-column">
              <%= item.client_cost %>
            </td>
          </tr>

        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td id="job-total-cost" class="cost-column">
            Total: <%= @job.total_cost %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
