<% provide(:title, 'Add New Client') %>
<h1>Add New Client</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([current_user, @client]) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :street %>
      <%= f.text_field :street %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :zip %>
      <%= f.text_field :zip %>

      <%= f.label :phone %>
      <%= f.telephone_field :phone %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <br>
      <%= f.submit "Create New Client", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
