<% provide(:title, @client.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @client.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <ul>
      <li>Name: <%= @client.name %></li>
      <li>Phone: <%= @client.phone %></li>
      <li>Email: <%= @client.email %></li>
      <li>Street: <%= @client.street %></li>
      <li>City: <%= @client.city %></li>
      <li>State: <%= @client.state %></li>
      <li>Zip: <%= @client.zip %></li>
    </ul>
  </div>
      
</div>
